In [1]:
x = 5 #this is an integer variable

In [2]:
x #this is how you print a variable on jupyter notebook

5

# Hello This is a Markdown (Heading 1)
## Heading 2
### Heading 3

Regular Text

**Bold Text**

*Italic Text*

Bullet Points:
* One
* Two

Numbered Points:
1. Point 1
2. Point 2

### Data Types and Structures

**Integer**

In [4]:
x = 5
type(x)

int

**Float**

In [6]:
y = 5.0
print(type(y))
y

<class 'float'>

5.0

**String**

In [10]:
z = "This is a string"
z1 = 'This is also string'
z2 = """Multiline String
Line 1
Line 2"""

print(z)
print(z1)
print(z2)

This is a string
This is also string
Multiline String
Line 1
Line 2

Quoted String

In [11]:
quote = "\"I think therefore I am\" - Rene Descartes"
quote

'"I think therefore I am" - Rene Descartes'

In [18]:
backslash = "how you print a backslash \\"
print(backslash)

how you print a backslash \

Splicing

In [19]:
long_string = "long_string_here_it_is"
long_string[:11]

'long_string'

Boolean

In [22]:
from operator import not_


boolean = True
another_boolean = False
not_a_boolean = "True"

print(boolean)
print(another_boolean)
print(not_a_boolean)

a = 1
b = 2

a == b #this will trigger a boolean

True
False
True

False

## Non-Primitive Data Types

List (with square bracket)

In [28]:
a_list = [1, 2, 3, 4, 5, 6, 7, "string"]
print(a_list)
print(a_list[4])

[1, 2, 3, 4, 5, 6, 7, 'string']
5

In [29]:
#this will include the first value, and exclude the last value
a_list[4:7]

[5, 6, 7]

In [30]:
#this will count backwards
a_list[-1]

'string'

In [31]:
#this will print in reverse manner
a_list[::-1]

['string', 7, 6, 5, 4, 3, 2, 1]

In [33]:
#this will print in jumping pattern
a_list[::3]

[1, 4, 7]

Tuple List (List that cannot be modified, with normal bracket)

In [34]:
a_tuple = (1, 2, 3, 4, 5)
a_tuple

(1, 2, 3, 4, 5)

*tuple can be reversed*

In [36]:
a_tuple[::-1]

(5, 4, 3, 2, 1)

Dictionary (With curly bracket)

In [41]:
dictionary = {"key":"value", "another":"value"}
dictionary

{'key': 'value', 'another': 'value'}

In [42]:
dictionary = {"key":"value", "another":"value"}
dictionary["key"]

'value'

In [45]:
dictionary = {"key":"value", "another":"value"}
dictionary.get("key")

'value'

# Python Operations

## Arithmetic Operators

### Addition

In [46]:
add_int = 1 + 2
add_int

3

In [48]:
add_str = "str" + "str"
add_str

'strstr'

In [49]:
add_list = [1, 2, 3, 4] + [1, 2, 3]
add_list

[1, 2, 3, 4, 1, 2, 3]

In [50]:
add_tuple = (1,2,3,4) + (1,2,3)
add_tuple

(1, 2, 3, 4, 1, 2, 3)

### Substraction

In [51]:
subs = 4 - 2
subs

2

### Multiplication

In [53]:
mult = 3 * 3
mult

9

In [54]:
multstr = "str" * 3
multstr

'strstrstr'

In [56]:
mult_list = [1, 2, 3] * 3
mult_list

[1, 2, 3, 1, 2, 3, 1, 2, 3]

### Division

In [57]:
div = 3 / 2 #this will trigger a float
div

1.5

### Modulo (Gives you remainder of a division operation)

In [58]:
modulo = 10%3
modulo

1

### Floor Division (Gives you the largest multiple)

In [59]:
floor_div = 7 // 2
floor_div

3

More at: https://www.w3schools.com/python/python_operators.asp

In [73]:
x = 5
x &= 3
x

1

In [75]:
x = 5
x >>= 3
x

0

Comparisons

In [77]:
print(3 == 3) #equals
print(3 != 4) #does not equals
print(3 > 4) #greater than
print(3 < 4) #less than
print(2 >= 2) #greater than or equals to
print(2 <= 2) #less than or equals to

True
True
False
True
True
True

Functions

In [4]:
def function1(x, y, z):
    return x + y + z

In [5]:
function1(1, 2, 3)

6

In [1]:
import numpy as np